<h1>Welcome</h1>

<% if logged_in? %>
  <h3>Your currently logged in</h3>
   <a href= '/users/<%="#{current_user.id}"%>'>Home</a><br><br>
  <% else %>
  <%= button_to "Login", '/signin', method: :get%>
  <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>


<%= button_to "Logout", '/logout', method: :get%>
