<div class="container">
  <h1 style="color:DarkOrange;">Pirate Rekon</h1>
  
  <div class="col-md-8 col-md-offset-2">
    <h4 style="color:Blue;">Pirate Rekon</h4>

    <div class="content">
      <h4>Welcome to Pirate Rekon. Create an album of porch pirates,
        identify repeat offenders, compare with others'
      pirates and possibly catch a pirate.</h4>
    </div>

    <div class="container">
      <h2 style="color:DodgerBlue;">Get Started</h2>
    <h3><a href="/signup">SIGN UP  </a></h3><br>
      <h3><a href="/login">SIGN IN  </a></h3><br><br><br><br><br>
    </div>

  </div>
</div>
